{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Connexion</h5>
                    <form action="{{ path('security_login') }}" method="post" class="form-signin">
                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" required name="_username" placeholder="Email" required autofocus>
                            <label for="inputEmail">Email</label>
                        </div>
        
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" required name="_password" class="form-control" placeholder="Mot de passe" required>
                            <label for="inputPassword">Mot de passe</label>
                        </div>

                        <!-- <div class="custom-control custom-checkbox mb-3">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1">Remember password</label>
                        </div> -->
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Connexion</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock  %}