{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Création d'un utilisateur</h5>
                        {{ form_start(form) }}
                        <div class="form-label-group">
                            {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'attr': {'placeholder': 'Nom d\'utilisateur'}}) }}
                        </div>
                        <div class="form-label-group">
                            {{ form_row(form.email, {'label': 'Email', 'attr': {'placeholder': 'Email'}}) }}
                        </div>
                        <div class="form-label-group">
                            {{ form_row(form.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Mot de passe'}}) }}
                        </div>
                        <div class="form-label-group">
                            {{ form_row(form.confirm_password, {'label': 'Confirmation du mot de passe', 'attr': {'placeholder': 'Confirmation du mot de passe'}}) }}
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Inscription</button>
                        {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock  %}