.navbar-brand {

    font-size: 1em;
}

@media only screen and (max-width: 1020px) {
.navbar-brand {
    font-size: 1em;
    }
}

@media only screen and (max-width: 1040px) {
    .navbar-brand {
        font-size: 1em;
        }
    }