<form method="post" action="{{ path('planning_delete', {'id': planning.id}) }}" onsubmit="return confirm('Voulez-vous supprimer ce créneau?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ planning.id) }}">
    <button class="btn">Supprimer</button>
</form>
