{% extends 'base.html.twig' %}

{% block title %}Edit Planning{% endblock %}

{% block body %}
    <h1>Modifier ce créneau</h1>

    {{ include('planning/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('planning_index') }}">retour à la liste</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
