{% extends 'base.html.twig' %}

{% block title %}Planning index{% endblock %}

{% block body %}
    <h1>Créneaux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Début :</th>
                <th>Fin :</th>
                <th>Ordinateur :</th>
                <th>Utilisateur :</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td>{{ planning.id }}</td>
                <td>{{ planning.beginAt ? planning.beginAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ planning.endAt ? planning.endAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ planning.computer }}</td>
                <td>{{ planning.user }}</td>

                <td>
                    <a href="{{ path('planning_show', {'id': planning.id}) }}">voir</a>
                    <a href="{{ path('planning_edit', {'id': planning.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">aucun créneau trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('planning_new') }}">Créer un nouveau créneau</a>
{% endblock %}
