{% extends 'base.html.twig' %}

{% block title %}New Planning{% endblock %}

{% block body %}
    <h1>Créer un nouveau créneau</h1>

    {{ include('planning/_form.html.twig') }}

    <a href="{{ path('planning_index') }}">retour à la liste</a>
{% endblock %}
