{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block body %}
    <h1>Créneau</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ planning.id }}</td>
            </tr>
            <tr>
                <th>Début : </th>
                <td>{{ planning.beginAt ? planning.beginAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Fin :</th>
                <td>{{ planning.endAt ? planning.endAt|date('d-m-Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ordinateur :</th>
                <td>{{ planning.computer }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('planning_index') }}">retour à la liste</a>

    <a href="{{ path('planning_edit', {'id': planning.id}) }}">modifier</a>

    {{ include('planning/_delete_form.html.twig') }}
{% endblock %}
