{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="m-t-5">Ajouter un ordinateur</h1>

    {{ form_start(formComputer) }}

    {{ form_row(formComputer.name, {'attr': {'placeholder': "Ordinateur n° : "}}) }}
    {{ form_row(formComputer.location, {'attr': {'placeholder': "Emplacement de l'ordinateur"}}) }}
    {{ form_row(formComputer.ip, {'attr': {'placeholder': "IP de l'ordinateur"}}) }}

    <button type="submit" class="btn btn-success">
        {% if(editMode) %} 
            Modifier
        {% else %}
            Ajouter
        {% endif %}

    </button>

    {{ form_end(formComputer) }}

{% endblock %}