{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
      <div class="col-sm">
      </div>
    </div>
</div>

{% endblock %}

