{% extends 'base.html.twig' %}

{% block title %}Ordinateurs{% endblock %}

{% block body %}

<a href="{{ path('computer_create') }}" class="float-left btn btn-primary mt-4 ml-2">Ajouter un ordinateur</a>

<section class="computers">
    <div class="container">
        <div class="row">
        {% for computer in computers %}
            <div class="card border-light mt-4 mb-3 ml-4" style="max-width: 20rem;">
                <div class="card-header">{{ computer.name }}</div>
                    <div class="card-body">
                        <h4 class="card-title">Emplacement n° {{ computer.location }}</h4>
                        <p class="card-text">{{ computer.ip }}</p>
                        <a href="{{ path('computer_show', {id: computer.id}) }}" class="float-right btn btn-primary">Voir</a>
                    </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}
