{% extends 'base.html.twig' %}

{% block body %}
    <div class="card border-light mt-4 mb-3 ml-4" style="max-width: 20rem;">
        <div class="card-header">{{ computer.name }}</div>
            <div class="card-body">
                <h4 class="card-title">{{ computer.location }}</h4>
                <p class="card-text">{{ computer.ip }}</p>
                <p class="card-text">Liste des créneaux réservés : </p>
                <section id="planning">
                    {% for planning in computer.plannings %}
                    <div class="creneaux">
                        <div class="row">
                            <div class="col-12">
                                <span>Début le : {{ planning.beginAt|date('d-m-Y H:i:s') }}<br></span>
                                <span>Fin le : {{ planning.endAt|date('d-m-Y H:i:s') }}<br></span>
                                <span>Utilisateur : {{ planning.user }}<br><br></span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </section>
            </div>
    </div>
{% endblock %}