<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
            <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
            <link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid h-100">
            <div class="row h-100">
              <aside class="col-12 col-md-2 p-0 bg-primary">
                <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-md-column flex-row align-items-start">
                    <a class="navbar-brand" href={{ path('booking_calendar') }}>Centre culturel</a>
                    <div class="collapse navbar-collapse">
                    <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                        <li class="nav-item">    
                            <a class="nav-link" href={{ path('booking_calendar') }}>Planning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('computers') }}>Ordinateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={{ path('user_index') }}>Utilisateurs</a>
                        </li>
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_login')}}">Connexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security_logout')}}">Déconnexion</a>
                            </li>
                        {% endif %}           
                    </ul>
                  </div>
                </nav>
              </aside>
              <main class="col">
                {% block body %}{% endblock %}
              </main>
            </div>
        </div>
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
