{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier l'utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('user/_delete_form.html.twig') }}


    <a href="{{ path('user_index') }}">retour à la liste</a>

{% endblock %}
