{% extends 'base.html.twig' %}

{% block title %} Utilisateur {% endblock %}

{% block body %}
    <h1> Utilisateur : </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">retour à la liste</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
